#gamepage {
    min-height: 100vh;
    background-image: url("fp_backgrounds/med_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  #homepage {
    min-height: 100vh;
    background-image: url("fp_backgrounds/med_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  #mediapage {
    min-height: 100vh;
    background-image: url("fp_backgrounds/med_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  #planetpage {
    min-height: 100vh;
    background-image: url("fp_backgrounds/med_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  #nav_bar {
    overflow: hidden;
    border-style: double;
    border-color: rgb(255, 255, 255);
    padding: 5px;
    color: rgb(255, 255, 255);
    text-align: center;
    
  }
  .flex-container {
    display: flex;
  }
  .flex-child {
    flex: 1;
  } 
  .flex-child-potd {
    flex: 2;
  }  
  #nav_link {
    padding: 20px;
    color: rgb(255, 255, 255);
  }
  #nav_link:hover {
    padding: 20px;
    color: rgb(238, 13, 13);
    transition-duration: 0.6s;
  }
  
  #potd_sec {
    border-style:groove;
    border-color:#ffffff;
    padding-left: 20px;
    padding-right: 20px;
  }
  #potd_sec:hover {
    border-style:groove;
    border-color:#fa0202;
    transition-duration: 0.4s;
    transform: scale(1.02,1.02);
  }
  #potd {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  #potd_desc {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    color:#ffffff;
    padding-left: 10px;
  }
  
  #bold_potd {
    color:rgb(255, 255, 255);
  }
  
  /* ISS API */
  
  #iss_sec {
    border-style:groove;
    border-color:#ffffff;
    padding-left: 20px;
    padding-right: 20px;
  }
  #iss_sec:hover {
    border-style:groove;
    border-color:#fa0202;
    transition-duration: 0.4s;
    transform: scale(1.02,1.02);
  }
  #iss_image {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #iss_location {
    text-align: center;
    padding-top: 40px;
    padding-left: 10px;
    color:#ffffff;
  }
  #iss_table {
    width:100%;
    
    padding-left: 10px;
    padding-right: 10px;
    color:#ffffff;
  }
  #iss_people {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    color:#ffffff;
  }
  #astronauts_list {
    color:#ffffff;
    list-style-type:circle;
    padding-left: 30px;
  }
  
  
  
  
  
  
  
  
  
  /* earth pics api */
  #earth_pics_sec {
    border-style:groove;
    border-color:#ffffff;
  }
  #earth_pics_sec:hover {
    border-color:#fa0202;
    transition-duration: 0.4s;
    transform: scale(1.02,1.02);
    border-style:groove;
  }
  #coords {
    text-align: center;
    color:#ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  /* curioity  api */
  #rover_sec {
    border-style:groove;
    border-color:#ffffff;
  }
  #rover_sec:hover {
    border-color:#fa0202;
    transition-duration: 0.4s;
    transform: scale(1.02,1.02);
    border-style:groove;
  }
  #rover_weather {
    color:#ffffff;
    padding-top: 20px;
    padding-bottom: 20px;;
    text-align: center;
  }
  #rover_desc {
    color:#ffffff;
    padding-top: 20px;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  #rover_img {
    padding: 20px;
    
  }
  #rover_table {
    width:100%;
  
  }
  .rover_header {
    font-size: 15px;
    color: #fdfdfd;
    font-weight: bold;
  }
  /* articles api */
  
  #news_head {
    color:#ffffff;
    text-align: center;
    font-size: 25px;
    
  }
  #news_child {
    text-align: center;
    border-style:groove;
    border-color:#ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #news_child:hover {
    border-style:groove;
    border-color:#fa0202;
    transition-duration: 0.4s;
    transform: scale(1.02,1.02);
  }
  #article_img_div {
    height: 200px;
    text-align: center;
  }
  #art_pic {
    width:300px;
  }
  #article_title_div {
    height: 10px;
    padding-top: 25px;
  }
  #article_title {
    text-align: center;
    padding-bottom: 20px;
    font-size: 17px;
  
  }
  #article_sum_div {
    padding-top: 80px;
    text-align: left;
  }
  #art_sum {
    color: #ffffff;
    text-align: left;
    
  }
  #art_pub {
    color: #ffffff;
    font-size: 13px;
    
  }
  /* gamepage css */
  
  #game_div_8 {
    padding-top: 110px;
    padding-right: 80px;
    padding-left: 80px;
  }
  #game_div_16 {
    padding-top: 80px;
    padding-right: 20px;
    padding-left: 20px;
  }
  #game_div_24 {
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  #mem_board {
    text-align: center;
    width: 500px;
    margin: auto;
  
  }
  #mem_tile {
    text-align: center;
    border-style: groove;
    border-width: .15cm;
    border-color: rgb(3, 12, 138);
    
  }
  #press_tile {
    transition-duration: 0.4s;
    border-style: groove;
    border-width: 5px;
    padding: 0px;
    
  }
  #press_tile:hover {
    border-color: rgb(224, 19, 12);
    padding: 0px;
    cursor: pointer;
  }
  
  #game_title {
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    color: #f0f0f0;
    padding-bottom: 10px;
  }
  #game_instr {
    font-size: 20px;
    text-align: left;
    color: #f0f0f0;
    padding-left: 20px;
    
  }
  #numtries {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #f0f0f0;
    padding-bottom: 5px;
    
  }
  
  #reset {
    text-align: center;
  }
  #reset_button {
    transition-duration: 0.4s;
    text-align: center;
    font-size: 15px;
    color: #9b0404;
    font-weight: bold;
    border-style: hidden;
  }
  #reset_button:hover {
    text-align: center;
    color: #ffffff;
    background-color: #9b0404;
    border-style: hidden;
    cursor: pointer;
    
  }
  #reset_message {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding-top: 15px;
  }
  
  #difficulty {
    color: #ffffff;
  }
  /* 
  mediapage css */
  
  #media_org {
    text-align: center;
  }
  #show_title {
    color: #ffffff;
    /* font-size:1.2vw; */
    font-size: 20px;
  }
  #show_desc {
    color: #ffffff;
    text-align:left;
    /* font-size:1.1vw; */
    font-size: 15px;
  }
  #show_tile {
    padding: 10px;
    border-style: groove;
    border-color: #ffffff;
  }
  #show_tile:hover {
    border-color: #f80505;
    transition-duration: 0.4s;
    transform: scale(1.02,1.02);
  }
  #button_bar {
    text-align: center;
    padding-bottom: 20px;
  }
  .media_button {
    /* padding:5px; */
    transition-duration: 0.4s;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    border-style: hidden;
    background-color: transparent;
  
  }
  .media_button:hover {
    text-align: center;
    color: #9b0404;
    border-style: hidden;
    cursor: pointer;
  }
  
  #media_search {
    color:#ffffff;
    border-style:groove;
    border-color:#ffffff;
    text-align: center;
    padding-bottom: 10px;
  }
  #media_search:hover {
    border-style:groove;
    border-color:#fa0202;
    transition-duration: 0.4s;
    
    
  }
  
  #submit_search {
    transition-duration: 0.4s;
    text-align: center;
    font-size: 15px;
    color: #9b0404;
    font-weight: bold;
    border-style: hidden;
  }
  #submit_search:hover {
    text-align: center;
    color: #ffffff;
    background-color: #9b0404;
    border-style: hidden;
    cursor: pointer;
  }
  #search_desc {
    padding-top: 5px;
    font-size: 20px;
  }
  #media_years_list {
    text-align: left;
    padding: 10px;
  }
  #errormess {
    color: #f80505;
    text-align: center;
    padding-top: 5px;
  }
  #searchyearbold {
    color:#ffffff;
    font-weight: bolder;
  }
  

  
  /* planetpage css */
  
  #planet_desc {
    border-style:groove;
    border-color:#ffffff;
    color:#ffffff;
    padding: 20px;
    font-size: 15px;
  
  }
  
  #planet_table {
    border-style:groove;
    border-color:#ffffff;
    width:100%;
    color:#ffffff;
    text-align: center;
    padding: 10px;
  }
  #p_tables {
    padding-top: 20px;
  }
  #planet_table:hover {
    border-style:groove;
    border-color:#fa0202;
    transition-duration: 0.4s;
    transform: scale(1.02,1.02);
    
  }
  .planet_header {
    padding-right: 18px;
    padding-left: 18px;
    padding-bottom: 5px;
    padding-top: 5px;
    color:#ffffff;
    font-weight: bolder;
  }
  
  .planet_td {
    padding-bottom: 5px;
    color:#ffffff;
  
  }